.ProductContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 25px;
    background-color: $purple-bg;
    width: 100%;
    .ProductDisplay {
        display: flex;
        justify-content: center;
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
        margin-top: 3em;
        
        .first-row{
            display: flex;
            grid-gap: 25px;
           
        }
        .second-row{
            display: flex;
           
        }
        .third-row{
            display: flex;
            
        }
    }
}


